.demo {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  display: none;
}

.reference:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
